.idea
*.class
*.iml
.vscode
*/doc/*
*/doc
/BUT2/Java/Astar/doc/
*.xml
BUT1/Java/sae2-sujet-11-jeucombat-tp-3-poirot-marchal-marchal-lecointre-paquin
BUT2/Dev mobile/TP1/.env
*/node_modules/*
BUT3/Python/ProgrammationAvanceIA/TP3/Asterix/*
BUT3/Python/ProgrammationAvanceIA/TP3/data/*
BUT3/Python/ProgrammationAvanceIA/TP3/Obelix/*
BUT3/Python/ProgrammationAvanceIA/TP3/Verification/*